@import "tailwindcss";
@plugin "@tailwindcss/forms";

body {
    background-color: rgb(240, 253, 244);
}

/* For Chrome */
html::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
html {
    scrollbar-width: none;
}